.navbar-toggler{
	background-color: black;
}
.navbarLogo{

	/*
	animation: highlight;
	animation-duration: 4s;
	*/

}
/*
@keyframes highlight {
  from {background-color: black;}
  to {background-color: #289BFD;}
}
*/
.page-footer  {
  background-color: #1C2A48; 
}
.page-footer .container{
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-github, .fa-envelope, .footer-copyright{
	color: white;
}
.dark-mode {
  background-color: black;
  color: white;
}