#brand{
	font-family: cursive;
	color: #561B8B;
}
#brackets{
	color:#561B8B;
}
.navbar-toggler{
	background-color: black;
}
.navbarLogo{

	/*
	animation: highlight;
	animation-duration: 4s;
	*/

}
.portfolio-block.projects-cards a{
	color: blue;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #8d8df3;
}
/*
@keyframes highlight {
  from {background-color: black;}
  to {background-color: #289BFD;}
}
*/
.page-footer  {
  background-color: #1C2A48; 
}
.page-footer .container{
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-github, .fa-envelope, .footer-copyright{
	color: white;
}
.dark-mode {
  background-color: black;
  color: white;
}