.navbarLogo{
	animation: highlight;
	animation-duration: 4s;
	animation-iteration-count: 1

}
@keyframes highlight {
  from {background-color: black;}
  to {background-color: #289BFD;}
}

.page-footer  {
  background-color: #1C2A48; 
}
.page-footer .container{
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-github, .fa-envelope, .footer-copyright{
	color: white;
}
