/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/

#linkedinThumbnailImage{
    display: none;
}
html {
  scroll-behavior: smooth;
}
body{
    background-color: #222222;
}
.nav-colored { 
    background-color:white ; 
    opacity: 0.8;
}
a.anchor {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}
hr{
    color: white;
    background-color: white;
    border-width: 10px;
}
html,
body,
header,
#intro {
    height: 100%;
}
#intro {
    background: url("https://github.com/YatinGupta777/Portfolio-2.0-/blob/master/assets/img/me.JPG?raw=true")no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#brand{
    font-family: cursive;
}  
nav .navbar-nav li a{
  color: black !important;
  }
.description{
    position: absolute;
    top: 25%;
    margin: auto;
    padding: 2em;
}
.description h1{
 color:white ;
 display:inline-block; 
}
.description span{
    background-color:  black;
}
.description li{
 font-size: 20px;
 line-height: 1.5;
 color:white ;
 background-color: black;   
 display: inline-block;
 padding-left: 2px;
 padding-right: 2px;
 clear:both;
 float:left;
}
#seeMore{
 margin-top:2%; 
 clear:both;
 float:left;
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
 animation-name: bounce;
 animation-duration: 3s;
 animation-iteration-count: 3;
}

@keyframes bounce {
  20%, 53%, 80%, 0%, 100% {
      -webkit-animation-timing-function: cubic-bezier(0.215,.61,.355,1);
      animation-timing-function: cubic-bezier(0.215,.61,.355,1);
      -webkit-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
  }
  40%, 43% {
      -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      -webkit-transform: translate3d(0,-30px,0);
      transform: translate3d(0,-30px,0);
  }
  70% {
      -webkit-animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      animation-timing-function: cubic-bezier(0.755,.050,.855,.060);
      -webkit-transform: translate3d(0,-15px,0);
      transform: translate3d(0,-15px,0);
  }
  90% {
      -webkit-transform: translate3d(0,-4px,0);
      transform: translate3d(0,-4px,0);
  }
}

#contactMe{
    position: absolute;
    bottom: 10%;
    margin: auto;
    padding: 2em; 
    clear:both;
    float:left; 
    color: white;
}
#contactMeIcons i.fa, #contactMeIcons i.fa-lg{
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0px 0px 2px #888;
        padding: 0.5em 0.5em;       
}

/*Social media icons, defining the distance between them*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #contactMeIcons a{
    margin-left: 2px;
    margin-right: 2px;
    }   
}
@media only screen and (min-width: 769px) {
  /* For mobile phones: */
  #contactMeIcons a{
    margin-left: 10px;
    margin-right: 10px;
    }   
}

#contactMeIcons .fa-facebook-f {
    background-color: #1778F2;
    color: white;
}
#contactMeIcons .fa-twitter {
    background-color: #01AEEF;
    color: white;
}
#contactMeIcons .fa-linkedin-in {
    background-color: #007AB9;
    color: white;
}
#contactMeIcons .fa-github {
    background-color: #1B1F23;
    color: white;
}
#contactMeIcons .fa-stack-overflow {
    background-color: white;
    color: #F48025;
}
#contactMeIcons .fa-envelope {
    background-color: #F84438;
    color: white;
}
/*Floating Animation*/

/*#contactMeIcons{  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}*/

#aboutMeText{
    font-size: 1.2rem;
    text-align: center;
}
#hobbies{
    text-align: center;
}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
    }    
#map_heading{
    text-align: center;
    font-size: 200%;
    font-family: arial;
    padding-top:1%;
    color: white;
}
#carousel_heading{
    text-align: center;
    font-size: 200%;
    font-family: arial;
    padding-top:1%;
    color: white;
}
#last_carousel_update{
    font-size:40%;
}
.carousel_text{
    text-align: center;
    background-color: #e6e4e1;
    height: 50px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
/*.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */   
.carousel-item{
    height: 250px;
}
.carousel-item img{
    height: 170px;
    width: 450px;
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
.heading{
    color: white;
}
.portfolio-block
{
    padding-top: 20px;
}
.portfolio-block .heading{
    margin-bottom: 40px;
}
#project_quote{
    width: 100%;
    max-width: 100%;
    font-family: Courier New;
    text-shadow: 1px 1px #FF0000;
    font-size: 120%;
}
.portfolio-block.projects-cards a{
    color: blue;
    text-decoration: none;
    padding : 0 0;
    border-bottom: 1px solid #8d8df3;
}
.page-footer  {
  background-color: #222222; 
}
.footer-copyright {
    color: white;
}
.footer-copyright{
    font-size: 0.7rem;
}


